WebAppAgenda/Service References/ServiceReferenceAgenda/ServiceMyAgenda2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6812/ServiceMyAgenda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="NuevoContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="agenda" nillable="true" type="q1:MyAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevoContactoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="agenda" nillable="true" type="q2:MyAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarContactoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElimirarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElimirarContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ElimirarContactoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarContactoResult" nillable="true" type="q3:MyAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarContactos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarContactosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="MostrarContactosResult" nillable="true" type="q4:ArrayOfMyAgenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>